@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #222222;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  color: #ffffff;
  overflow-y: auto;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.content {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 14px;
}

.options select {
  background: #f1f1f1;
  padding: 2px;
  border-radius: 4px;
  margin: 5px;
}

.option-wrapper {
  display: flex;
  align-items: center;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coins-list {
  width: 100%;
}

.coin {
  display: flex;
  margin: 15px auto;
  width: 100%;
  justify-content: space-between;
}

.coin-rank {
  width: 8%;
}

.coin-icon {
  width: 8%;
}

.coin-name {
  width: 44%;
}

.coin-24h-change {
  width: 10%;
  text-align: right;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.coin-price {
  width: 30%;
  text-align: right;
}

@media screen and (max-width: 640px) {
  .coin {
    font-size: 14px;
  }
  .coin-24h-change {
    font-size: 12px;
  }
}

/*
  LOADING SPINNER ANIMATION
  by Tobias Ahlin @tobiasahlin

  http://tobiasahlin.com/spinkit/
 */

.spinner {
  width: 40px;
  height: 40px;
  background-color: #ffffff;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
